<log4j:configuration
    xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p - %-30c{1} - %m%n"/>
        </layout>
    </appender>
    <!-- <appender name="FILE" class="org.apache.log4j.FileAppender"><param name="threshold" value="DEBUG"/><param name="File" value="data/log/servicemix.log"/><layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="%d{ABSOLUTE} | %-5p | %-10t | %-24.24c{1} | %-30.30C %4L | %m%n"/></layout></appender> -->
    <appender name="LoginLogFile" class="org.apache.log4j.FileAppender">
        <param name="threshold" value="DEBUG"/>
        <param name="File" value="D:/Softwares/jboss-4.2.3.GA/jboss-4.2.3.GA/server/default/log/Mobilegateway.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} | %-5p | %-10t | %-24.24c{1} | %-30.30C %4L | %m%n"/>
        </layout>
    </appender>
    <logger name="com.excelacom.century.gateway">
        <appender-ref ref="LoginLogFile"/>
        <level value="DEBUG"/>
    </logger>
    <logger name="org.apache">
        <level value="WARN"/>
    </logger>
    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>
    <logger name="org.jencks">
        <level value="WARN"/>
    </logger>
    <logger name="org.apache.activemq">
        <level value="WARN"/>
    </logger>
    <logger name="org.apache.activemq.transport.discovery">
        <level value="ERROR"/>
    </logger>
    <logger name="org.apache.servicemix">
        <!-- To enable debug logging, replace the INFO by DEBUG -->
        <level value="DEBUG"/>
    </logger>
    <logger name="org.apache.servicemix.jbi.config">
        <level value="WARN"/>
    </logger>
    <logger name="org.apache.servicemix.jbi.deployment">
        <level value="WARN"/>
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LoginLogFile"/>
    </root>
</log4j:configuration>